@font-face {
  font-family: "Tajawal";
  src: url("./assets/Tajawal/Tajawal-Medium.ttf");
}

body {
  font-family: Tajawal;
  color: #fff;
  background-color: rgba(210, 132, 189, 0.5);
  overflow-x: hidden;
}

:root {
  --hover-text: #d3399898;
  --button-color: rgba(201, 46, 160, 0.5);
  --button-hover: rgba(243, 82, 200, 0.595);
  --text-header: 2.5em;
  --text-p: 1.3em;
  --p-color: #4a1136;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header {
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  background: linear-gradient(125deg, #3e152d, #575757df);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.659);
}

.site-header a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
}

.main-nav {
  display: none;
  z-index: 10;
  background-color: #31313197;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 0.4s ease;
  gap: 10px;
}

.main-nav.active {
  display: block;
}

.main-nav ul {
  padding: 10px 0;
}

.main-nav ul li {
  padding: 10px 20px;
}

.main-nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  display: block;
  padding: 5px 10px;
  color: #fff;
}

.main-nav ul li a:hover {
  color: var(--hover-text);
  text-decoration: underline;
}

.site-header a:hover {
  color: var(--hover-text);
  text-decoration: underline;
  transition: color 0.3s;
  text-shadow: 0.3px 0.3px 1px #f5eeee;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.adoption-section {
  background-image: url("./assets/cat-bg.png");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content h2,
.feature-caption h1 {
  font-size: var(--text-header);
  color: #000000;
  text-shadow: 2px 2px var(--hover-text);
  margin-bottom: 10px;
}

.text-content p,
.feature-caption p {
  font-size: var(--text-p);
  color: var(--p-color);
  line-height: 1.6;
}

.text-content ul li {
  font-size: var(--text-p);
  color: var(--p-color);
  line-height: 1.6;
  text-shadow: 0.5px 0.5px 0.5px white;
}

.text-content .learn-more {
  display: inline-block;
  padding: 5px 20px;
  font-size: 1.5em;
  color: #ffffff;
  background-color: var(--button-color);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px var(--hover-text);
}

.text-content .learn-more:hover,
.play-button:hover {
  background-color: var(--button-hover);
}

.video-content {
  padding-top: 85px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-content video {
  width: 350px;
  height: fit-content;
  border-radius: 8px;
}

.feature-caption {
  text-align: center;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fcecf9;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #fcecf9;
}

.feature-box {
  position: relative;
  overflow: hidden;
  background-color: #444;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, border-color 0.3s ease;
  border: 2px solid transparent;
}

.feature-box img {
  transition: width 2s;
  transition: transform 0.3s ease, filter 0.3s ease;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 157, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
}

.feature-box:hover {
  transform: scale(1.05);
  border-color: #4e013d;
  filter: brightness(1.15);
  filter: saturate(1);
}

.feature-box:hover .overlay {
  opacity: 0.2;
}

.feature-box h3 {
  font-size: 1.7em;
  padding-bottom: 20px;
  color: #ffffff;
}

.features p {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #ccc;
  padding: 7px;
}

.gallery {
  background-color: #fdedf986;
  color: #fff;
  text-align: center;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 0.2fr);
  grid-template-areas:
    "p1 p3 p3 p3 p7"
    "p1 p3 p3 p3 p8"
    "p1 p4 p4 p6 p8"
    "p2 p2 p5 p5 p5"
    "p2 p2 p5 p5 p5";
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: center;
}

.pic1 {
  grid-area: p1;
}
.pic2 {
  grid-area: p2;
}
.pic3 {
  grid-area: p3;
}
.pic4 {
  grid-area: p4;
}
.pic5 {
  grid-area: p5;
}
.pic6 {
  grid-area: p6;
}
.pic7 {
  grid-area: p7;
}
.pic8 {
  grid-area: p8;
}

.gallery h1 {
  font-size: var(--text-header);
  color: #000000;
  text-shadow: 2px 2px var(--hover-text);
}

.gallery p {
  padding: 20px;
  color: var(--p-color);
  line-height: 1.6;
  font-size: var(--text-p);
}

.thumbnail {
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.thumbnail:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.modal-content {
  margin: 0;
  display: block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.show {
  opacity: 1;
}

.close,
.prev,
.next {
  position: absolute;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
  padding: 5px;
}

.close {
  right: 20px;
  top: 20px;
}

.prev {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.close:hover,
.prev:hover,
.next:hover {
  color: #bbb;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 50px;
}

.form-section {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px 0px 0px 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-section h1 {
  font-size: var(--text-header);
  margin-bottom: 10px;
  color: #2c3e50;
}

.form-section p,
label {
  font-size: var(--text-p);
  color: #5a6b7b;
  line-height: 1.6;
}

.form-section a:hover {
  text-decoration: underline;
}

.form-section a {
  color: var(--button-color);
  text-decoration: none;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #dfe3e8;
  border-radius: 8px;
  font-size: 1em;
  color: #2c3e50;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  border-color: var(--button-color);
  box-shadow: 0 0 8px rgba(231, 56, 176, 0.3);
  outline: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #5a6b7b;
}

.checkbox-container input {
  margin-right: 8px;
  transform: scale(1.2);
}

.submit-button {
  background-color: var(--button-color);
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 2px 2px var(--hover-text);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.659);
  width: 100%;
  text-align: center;
}

.submit-button:hover {
  background-color: var(--button-hover);
}

.image-section {
  background-color: #dfe3e8;
  background-size: contain;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 0px 12px 12px 0px;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: auto;
  min-width: 700px;
  border-radius: 12px;
  animation: slideHover 4s infinite ease-in-out;
}

footer {
  text-align: center;
  background-color: #f8f8f8;
}

footer p {
  font-size: 1em;
  align-items: center;
  color: var(--p-color);
}

@media (max-width: 768px) {
  .adoption-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    grid-template-columns: 1fr;
  }
  .main-nav,
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
  }
  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-nav a {
    padding: 10px;
    text-align: center;
  }

  .hamburger {
    display: block;
  }
  .form-container {
    grid-template-columns: 1fr;
  }

  .form-section {
    border-radius: 12px;
  }

  .image-section {
    border-radius: 12px;
  }

  .text-content ul {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  .video-content {
    padding-top: 25px;
  }
}

@media (max-width: 500px) {
  .image-gallery {
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "p1 p2"
      "p3 p4"
      "p5 p6"
      "p7 p8";
    padding: 2em;
  }

  .adoption-section {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 5px;
    padding-right: 5px;
  }

  .text-content ul {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-container {
    grid-template-columns: 1fr;
  }
  .text-content h2,
  .feature-caption h1,
  .form-section h1,
  .gallery h1,
  .feature-caption h1 {
    font-size: 2em;
  }

  .text-content p,
  .text-content ul li,
  .feature-caption p,
  .gallery p,
  .form-section p,
  .text-content .learn-more,
  .submit-button,
  label {
    font-size: 1.2em;
  }
}

@media (max-width: 330px) {
  .image-gallery {
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "p1" "p2"
      "p3" "p4"
      "p5" "p6"
      "p7" "p8";
    padding: 1em;
  }
  .text-content h2,
  .feature-caption h1,
  .form-section h1,
  .gallery h1,
  .feature-caption h1 {
    font-size: 1.5em;
  }

  .text-content p,
  .text-content ul li,
  .feature-caption p,
  .gallery p,
  .form-section p,
  .text-content .learn-more,
  .submit-button,
  .checkbox-container,
  label {
    font-size: 1em;
  }
}

@keyframes slideHover {
  0% {
    transform: translate(-200px, 100px);
  }
  25% {
    transform: translate(-20px, 80px);
  }
  50% {
    transform: translate(-40px, 20px);
  }
  75% {
    transform: translate(-20px, 80px);
  }
  100% {
    transform: translate(-200px, 100px);
  }
}
